{% load staticfiles %}
<html>
    <head>
    	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<title>Darinka's Dungeon</title>
    </head>
    <body>
    	<div class="page-header">
    		<h1><strong><a href="/">Daria's Dungeon</a></strong></h1>
    	</div>
    	<div>
        	<p><h2><strong>Welcome to the Dungeon</strong></h2></p>
        	<p><h4>You are invited to follow me on <a href="http://twitter.com/BaraDrb" target="_blank"><strong>Twitter</strong></a>.</h4></p>
        </div>

<div class="content container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


        <div>
        	This page was created during <a href="http://tutorial.djangogirls.org/en/index.html"><strong>Django girls</strong></a> workshop in Prague, May 16 2015.
        	Thanks to <a href="http://node5.cz/" target="_blank"><strong>Node5</strong></a> for hosting us in their modern, cozy, well-catered space.
        </div>

        <div>
        	<p>For successful coding you need:</p>
        	<p><ul><li>coffee</li><li>donuts</li><li>fast wifi :)</li></ul></p>
        	<p>If you would like to get some feedback for this workshop or tell me anything else, please contact me at <a href="mailto:dariathedaria@gmail.com"><strong>my email address</strong></a>.</p>
        </div>
    </body>
</html>
